.jumbotron {
  background: #3BA381;
  color: white;
  padding-bottom: 80px;
}
.jumbotron h1 {
  font-size: 4em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}

.concept-header {
  background: #3BA381;
  color: white;
  padding-bottom: 10px;
}
.concept-header h1 {
  font-size: 2em;
}
.concept-header .uuid {
  font-size: 50%;
}
.navbar + .concept-header {
  margin-top: -20px;
}
.concept-header + .container {
  margin-top: 20px;
  font-size: 120%;
}

.concept-prerequisites {
  background: #F5A6C0;
  padding-bottom: 10px;
}
.concept-leadsto {
  background: #E099B0;
  padding-bottom: 10px;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  position: relative;
}

.uuid {
  font-size: 70%;
}
