@import repos.neo4j.domain.Implementation
@import repos.neo4j.domain.Implements
@import java.util.Set
@(implementation: Implementation)

@main("Implementation " + implementation.uuid) {

  <h1>Implementation <span class="small">@implementation.uuid</span></h1>

  @implementation.source

  <h2>Implements →</h2>
  @implementation.implements match {

    case implements: Set[Implements] => {
      <ul>
      @for(imp <- implements) {
        <li>@function.link(imp.target)</li>
      }
      </ul>
    }

    case _ => {<span>Nothing.</span>}
  }

}
