@import repos.neo4j.domain.Function
@import java.util.Collection
@(functions: Collection[Function])

@main("Graph") {

  <div id="graph">
    <p class="text-center text-muted">Loading...</p>
  </div>

  <script>
  @functions match {
    case functions: Collection[Function] => {

      var data = {
        "nodes": [
          @for(f <- functions) {
            {"uuid": "@f.uuid", "description": "@f.description", "group": 1},
          }
        ],
        "links": [
          {"source": "bbb43cb2-5655-416c-9e48-886c2d38f5e0", "target": "ac80e134-407e-4582-8866-ab963c9dbe26"},
        ]
      };

    }

    case _ => {
      var graph = {"nodes": [], "links": []};
    }
  }
  </script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/visualization.css")" />
  <!--<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
  <script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
  <script src="@routes.Assets.at("javascripts/visualization.js")" charset="utf-8"></script>

}
