@import domain.{Resource, DependsOn}
@import java.util.Set
@(resource: Resource)

<div class="align-bottom">
  <div class="concept-prerequisites">
    <div class="container">
      <h1>Pre-Requisites</h1>
      @resource.prerequisites match {

        case relations: Set[DependsOn] => {
          <ul>
            @for(relation <- relations) {
              <li>
                @link(relation.prerequisite)
                <a href="/dependency/delete/@resource.uuid/@relation.prerequisite.uuid">
                  (delete)
                </a>
              </li>
            }
          </ul>
        }

        case _ => {
          <span>There are no pre-requisites.</span>
        }

      }

      <form action="/dependency/create/@resource.uuid" method="post">
        <fieldset class="form-group">
          <label for="title">Add Prerequisite</label>
          <div class="input-group">
            <input
                type="text" class="form-control" id="prerequisite"
                placeholder="Enter a UUID..."
                name="prerequisite">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Create</button>
            </span>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="concept-leadsto">
    <div class="container">
      <h1>Dependents</h1>
      @resource.dependents match {

        case relations: Set[DependsOn] => {
          <ul>
            @for(relation <- relations) {
              <li>
                @link(relation.dependent)
              </li>
            }
          </ul>
        }

        case _ => {
          <span>There are no dependents.</span>
        }

      }
    </div>
  </div>
</div>
