@import domain.Resource
@(resource: Resource)

@main(s"Edit | ${resource.title}") {

  @base(resource) {
    <form action="/resource/update/@resource.uuid" method="post">
      <fieldset class="form-group">
        <label for="title">Title</label>
        <input
            type="text" class="form-control" id="title"
            placeholder="Enter a title"
            name="title"
            value="@resource.title">
      </fieldset>
      <fieldset class="form-group">
        <label for="content">Content</label>
        <textarea type="textarea" class="form-control" rows="8" id="content"
            name="content"
            >@resource.content</textarea>
      </fieldset>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  }

}
