@(id: Long)

@main("Concept Name") {

<div class="concept-header">
  <div class="container">
    <h1>Concept Name (@id)</h1>
  </div>
</div>
<div class="container">
  <p>Example content...</p>
</div>
<div class="align-bottom">
  <div class="concept-prerequisites">
    <div class="container">
      <h1>Pre-Requisites</h1>
      <ul>
        <li><a href="/">Some Concept Name (af654)</a></li>
        <li><a href="/">Some Other Concept Name (af655)</a></li>
      </ul>
    </div>
  </div>
  <div class="concept-leadsto">
    <div class="container">
      <h1>Leads To</h1>
      <ul>
        <li><a href="/">Some Concept Name (af656)</a></li>
        <li><a href="/">Some Other Concept Name (af657)</a></li>
      </ul>
    </div>
  </div>
</div>

}
