@import domain.{Resource, DependsOn}
@import java.util.Set
@(resource: Resource)

@main("Concept Name") {

<div class="concept-header">
  <div class="container">
    <h1>@resource.title
      <a href="@resource.uuid" class="uuid">@resource.uuid</a>
    </h1>
  </div>
</div>
<div class="container">
  <p>@resource.content</p>
</div>
<div class="align-bottom">
  <div class="concept-prerequisites">
    <div class="container">
      <h1>Pre-Requisites</h1>
      @resource.prerequisites match {

        case relations: Set[DependsOn] => {
          <ul>
            @for(relation <- relations) {
              <li>
                @link(relation.prerequisite)
              </li>
            }
          </ul>
        }

        case _ => {
          <span>There are no pre-requisites.</span>
        }

      }
    </div>
  </div>
  <div class="concept-leadsto">
    <div class="container">
      <h1>Dependents</h1>
      @resource.dependents match {

        case relations: Set[DependsOn] => {
          <ul>
            @for(relation <- relations) {
              <li>
                @link(relation.dependent)
              </li>
            }
          </ul>
        }

        case _ => {
          <span>There are no dependents.</span>
        }

      }
    </div>
  </div>
</div>

}
