@import domain.Resource
@import java.util.Collection
@(resources: Collection[Resource])

@linkedResource(r: Resource) = {
  <li><a href="/resource/read/@r.uuid">@r.title (@r.uuid)</a></li>
}

@main("angry-atronach") {

<div class="jumbotron text-center">
  <div class="container">
    <h1>angry-atronach</h1>
  </div>
</div>
<div class="container">
  <h1>Concepts</h1>
  @resources match {

    case resources: Collection[Resource] => {
      <ul>
        @for(resource <- resources) {
          @linkedResource(resource)
        }
      </ul>
    }

    case _ => {
      <span>There are no concepts.</span>
    }

  }
</div>

}
