@import repos.neo4j.domain.Function
@import java.util.Collection
@(functions: Collection[Function])

@main("angry-atronach") {

<div class="jumbotron text-center">
  <div class="container">
    <h1>angry-atronach</h1>
  </div>
</div>
<div class="container">
  <h1>Functions</h1>
  @functions match {

    case functions: Collection[Function] => {
      <ul>
        @for(f <- functions) {
          <li>
            @function.link(f)
          </li>
        }
      </ul>
    }

    case _ => {
      <span>There are no functions.</span>
    }

  }
</div>

}
